body{
    background-color: rgb(70, 142, 236);
    font: normal 1.25em Arial;
}

h1{
    color: white;
    text-align: center;
}

div{
    text-align: center;
}

button{
    color: black;
    width: 150px;
    height: 50px;
    font: bold 1em Arial;
    
}